.other-details-page {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.auth-component {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55%;
    height: 100%;
}


.auth-component__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

.auth-component__heading {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 120%;
    text-align: center;
    letter-spacing: 0.005em;
    height: 70%;
    color: #FFFFFF;
}

.divider__line {
    width: 70%;
    height: 0px;
    left: 758.45px;
    top: 400px;
    border: 1px solid #92929D;
    transform: matrix(1, 0, 0, 1, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px
}


@media screen and (max-width: 850px) {
    .auth-component {
        width: 100%;
    }

    .auth-component__container {
        width: auto;
    }
}