.question-card {
  background-color: #9a9ab0;
  padding: 1.5rem;
  margin: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  border-radius: 1rem;
}

.left-section {
  display: flex;
  flex-direction: column;
}

.source-name {
  font-size: 1.5rem;
  font-weight: 600;
}

.question-title {
  margin-top: 0.25rem;
  font-size: 2rem;
  font-weight: bold;
}

.tag-card {
  background-color: #0d8bff;
  border-radius: 0.5rem;
  padding: 0.75rem;
  margin-right: 0.5rem;
}

.right-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
}

.solve-button {
  background-color: #0d8bff;
  border-radius: 1rem;
  border: none;
  font-size: 1.5rem;
  padding: 0.5rem 1.5rem;
  margin-right: 1rem;
  cursor: pointer;
}

.add-button {
  background-color: #9a9ab0;
  border: 0.2rem solid #0d8bff;
  padding: 0 0.5rem;
  color: #0d8bff;
  border-radius: 50%;
  font-size: 2rem;
  cursor: pointer;
}

.extra-details {
  display: flex;
  flex-direction: row;
  padding: 0.5rem 1rem 0.5rem 1rem;
  font-weight: bold;
  font-size: 1.5rem;
}