.sidebar {
  background-color: #1f1d2b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex: 0 0;
  height: 100%;


}

.divider {
  background-color: #3c4156;
  height: 0.2rem;
}

.sidebar-icons__top {
  margin: 2rem;
  display: flex;
  flex-direction: column;

}

.sidebar-icons__top a {
  color: #9a9ab0;
}

:global .Sidebar_sidebar-icons__top__Lb5tP a.active {
  color: #fff;
}

.sidebar-icons {
  margin-bottom: 4rem;
}