.title {
    color: white;
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 0.3rem;
}

.divider__line {
    width: 100%;
    height: 0px;
    left: 758.45px;
    top: 400px;
    border: 1px solid #92929D;
    transform: matrix(1, 0, 0, 1, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.main {
    display: flex;
}

.main-content {
    margin: 15px;
    width: 85%;
}

.codesheetsidebar {
    width: 20%;
    height: 99.5%;
    background-color: #1f1d2b;
    margin-top: 0.2%;
    display: flex;
    flex-direction: column;
}