.heart-like-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 16px;
    height: 13px;
}

.heart-like-button:before {
    position: absolute;
    top: 0;
    left: 8px;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
    width: 10px;
    height: 16px;
    border-radius: 40px 40px 0 0;
    background-color: white;
    content: "";
    cursor: pointer;
    transition: background .4s;
}

.heart-like-button:after {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
    width: 10px;
    height: 16px;
    border-radius: 40px 40px 0 0;
    background-color: white;
    content: "";
    cursor: pointer;
    transition: background .4s;
}

.heart-like-button.liked::before,
.heart-like-button.liked::after {
    background-color: #ff0000;
}

.heart-like-button.liked {
    animation: liked .4s ease;
}

@keyframes liked {
    0% {
        transform: scale(.8);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}