.ui-button {
    margin-top: 30px;
    height: 30px;
    width: 100%;

}

.ui-button button {
    background: #0D8BFF;
    border-radius: 10px;
    border-width: 0px;
    width: 100%;
    height: 35px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 120%;
    color: #FFFFFF;


}

@media screen and (max-width: 850px) {
    .ui-button {
        width: 45%;
    }
}